<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../css/login.css">
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <section class="login-section">

                <% if (errorMessage) { %>
                <div class="__errormessage __messageError"><p class="login__error"><%= errorMessage %></p></div>
                <% } %>
                <main class="main_login-form">


                    <form class="login-form" action="/login" method="POST">
                        <div class="login_form-control">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="login_form-control">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                        </div>

                        <div class="__form-control">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="submit-btn" type="submit">Login</button>
                        </div>
                    </form>

                    <div class="__centered">
                        <a class="a__logout" href="/signup">Sign Up</a>
                        <a href="/reset">Reset Password</a>
                    </div>

                </main>

            </section>

            <%- include('../includes/script.ejs') %>

                <%- include('../includes/end.ejs') %>