<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../css/signup.css">
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <section class="signup-section">
                <% if (errorMessage) { %>
                <div class="__errormessage __messageError"><p class="signup__error"><%= errorMessage %></p></div>
                <% } %>
                
                <main class="main_signup-form">

                    <form class="signup-form" action="/signup" method="POST">
                        <div class="signup_form-control">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="signup_form-control">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                        </div>

                        <div class="signup_form-control">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="confirmpassword" name="confirmpassword" id="confirmpassword">
                        </div>

                        <div class="signup__btn-control">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="submit-btn" type="submit">Sign Up</button>
                        </div>
                      
                    </form>

                </main>

            </section>

            <%- include('../includes/script.ejs') %>

                <%- include('../includes/end.ejs') %>
