<header>
<<<<<<< HEAD
    <a class="logo <%= path === '/' %> ? 'active' : '' %>" href="/">Vision</a>

    <div class="group">
        <ul class="navigation">
            <li>
            <a
            class="<%= path === '/user/profile' %> ? 'active' : '' %>"
            href="/user/profile"
            >Profile</a
            >
        </li>
        <li>
            <a
            class="<%= path === '/user/add-post' %> ? 'active' : '' %>"
            href="/user/add-post"
            >Add Post</a
            >
        </li>
        <li>
            <a
            class="<%= path === '/detail-page' %> ? 'active' : '' %>"
            href="/detail-page"
            >All Questions</a
            >
        </li>
        <li>
            <a class="<%= path === '/login' %> ? 'active' : '' %>" href="/login"
            >Login</a
            >
        </li>
        <li>
            <a class="<%= path === '/signup' %> ? 'active' : '' %>" href="/signup"
            >Sign Up</a
            >
        </li>
        </ul>
=======
  <a class="logo" href="/">Vision</a>

  <div class="group">
    <ul class="navigation">
      <li>
        <a class="<%= path === '/profile' %> ? 'active' : '' %>" href="/profile"
          >Profile</a
        >
      </li>
      <li>
        <a
          class="<%= path === '/user/add-post' %> ? 'active' : '' %>"
          href="/user/add-post"
          >Add Post</a
        >
      </li>
      <li>
        <a
          class="<%= path === '/detail-page' %> ? 'active' : '' %>"
          href="/detail-page"
          >All Questions</a
        >
      </li>
      <li>
        <a
          class="<%= path === '/auth/login' %> ? 'active' : '' %>"
          href="/auth/login"
          >Login</a
        >
      </li>
      <li>
        <a
          class="<%= path === '/auth/signup' %> ? 'active' : '' %>"
          href="/auth/signup"
          >Sign Up</a
        >
      </li>
    </ul>
>>>>>>> DetailPage

    <div class="search">
      <span class="icon">
        <ion-icon name="search-outline" class="searchBtn"></ion-icon>
        <ion-icon name="close-outline" class="closeBtn"></ion-icon>
      </span>
    </div>
    <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
  </div>

  <div class="searchBox">
    <input type="text" placeholder="Search here ...." />
  </div>
</header>
