<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <!-- <div class="x_container">
        <div class="xx_container">
        <h1 class="h1-color">
            <span class="span-color1">Failure</span>
            <span class="span-color2"> Is Not </span
            ><span class="span-color3">Lose</span>
        </h1>
        <h2 class="h2-color">Work Done</h2>
        <h4 class="h4-color">
            with the burma's largest code error solution website
        </h4>
        </div>
    </div> -->

    <div class="parent__div">
        <div class="first__div">
            
        </div>

        <main class="main__class">
            <% if (prods.length > 0) { %>
                <div class="main__div">
                        <% prods.forEach((post) => { %>
                        <div class="post__item">
                            <div class="post__title">
                                <!-- <form action="/detail-page" method="POST"> -->
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <h1><a href="/post-list/<%= post._id %>" class="h1__title"><%= post.title %></a></h1>
                                    <!-- <input type="hidden" name="postId" value="<%= post.id %>"> -->
                                <!-- </form> -->
                            </div>
                            
                            <div class="post__category">
                                <div class="span_post__category">
                                    <a href="#" class="category__padding"><%= post.category %></a>
                                </div>
                            </div> 

                            <div class="post__description">
                                <p class="p__description"><%= post.description %></p>
                            </div>

                            <div class="imgclass">
                                <img src="<%= post.imageUrl %>" alt="<%= post.title %>">
                            </div>
                        </div>
                    <% }) %>
                </div>
                <%- include('../includes/pagination.ejs', { currentPage: currentPage, nextPage: nextPage, previousPage:previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %> 
            <% } else { %>
                <h1 id="NPF">No Post Found!</h1>
            <% } %>
        </main>

        <div class="last__div">

        </div>
    </div>

    

    <%- include('../includes/script.ejs') %> 
    
    <%- include('../includes/end.ejs') %>

