<head>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="../css/All_Question.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:ital,wght@0,400;1,900&display=swap");
  </style>
</head>
<body>
  <%- include('includes/navigation.ejs') %>

  <div class="x_container">
    <div class="xx_container">
      <h1 class="h1-color">
        <span class="span-color1">Failure</span>
        <span class="span-color2"> Is Not </span
        ><span class="span-color3">Lose</span>
      </h1>
      <h2 class="h2-color">Work Done</h2>
      <h4 class="h4-color">
        with the burma's largest code error solution website
      </h4>
    </div>
  </div>

  <div class="parent__div">
    <div class="first__div"></div>
    <main class="main__div"></main>
    <div class="last__div"></div>
  </div>

  <!-- <% if (prods.length > 0) { %>
        <div class="question-answer">
            <% for (let product of prods) { %>
                <label for="title"><a href="/detail"><%= product.title %></a></label>
                <div class="question-types">
                    <span class="question-tags"><%= product.category %></span>
                    <span class="question-tags"><%= product.category %></span>
                    <span class="question-tags"><%= product.category %></span>
                </div> -->
  <!-- <div>
                    <img src="" alt="">
                </div> -->
  <!-- <div class="questions-asked"> -->
  <!-- <span class="question-tags">javascript</span>
                    <span class="question-tags">react</span>
                    <span class="question-tags">nodejs</span> -->
  <!-- <p><%= product.description %></p>
                </div>
            <% } %>
        </div>
    <% } else { %>
            <h1>No Products Found!</h1>
    <% } %> -->

  <!-- <div class="author">
                    <small>Timestamp</small>
                        <div class="author-details">
                            <i class="fa-solid fa-user-tie"></i>
                            <a href="">MrCodeCamp</a>
                        </div>
                </div>  -->

  <%- include('includes/script.ejs') %> <%- include('includes/end.ejs') %>
</body>
